In [4]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
from matplotlib import pyplot as plt
import os
%matplotlib inline

In [5]:
ls

nba/  nba capstone 3.ipynb  nba project.ipynb  nba project new.ipynb  README.md

In [6]:
os.chdir('nba')

In [7]:
salaries=pd.read_csv('NBASalaries1990to2016.csv')

In [8]:
s15=pd.read_csv('nba_data/2015stats.csv')
s15.shape

(651, 30)

In [9]:
a15=pd.read_csv('nba_data/advanced2015.csv')

In [10]:
s14=pd.read_csv('nba_data/2014stats.csv')

In [11]:
s13=pd.read_csv('nba_data/2013stats.csv')

In [12]:
a14=pd.read_csv('nba_data/advanced2014.csv')

In [13]:
a13=pd.read_csv('nba_data/advanced2013.csv')

In [14]:
s15['Year']=2015

In [15]:
s14['Year']=2014

In [16]:
s13['Year']=2013

In [17]:
a15['Year']=2015

In [18]:
a14['Year']=2014

In [19]:
a13['Year']=2013

In [20]:
statsdf=[s15,s14,s13]

In [21]:
advancedf=[a15,a14,a13]

In [22]:
s15=pd.concat(statsdf)

In [23]:
a15=pd.concat(advancedf)

In [24]:
len(s15)-s15.count()

Rk          0
Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
FG          0
FGA         0
FG%        13
3P          0
3PA         0
3P%       272
2P          0
2PA         0
2P%        17
eFG%       13
FT          0
FTA         0
FT%        79
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
Year        0
dtype: int64

In [25]:
s15[pd.isnull(s15['3P%'])][['Player','3P','3PA','3P%']]

                          Player  3P  3PA  3P%
3          Jeff Adrien\adrieje01   0    0  NaN
7        Alexis Ajinca\ajincal01   0    0  NaN
9         Cole Aldrich\aldrico01   0    0  NaN
11         Lavoy Allen\allenla01   0    0  NaN
15        Lou Amundson\amundlo01   0    0  NaN
23        Joel Anthony\anthojo01   0    0  NaN
27            Omer Asik\asikom01   0    0  NaN
31          Jeff Ayres\pendeje02   0    0  NaN
33    Cameron Bairstow\bairsca01   0    0  NaN
51    Jerrelle Benimon\benimje01   0    0  NaN
54         Sim Bhullar\bhullsi01   0    0  NaN
55     Bismack Biyombo\biyombi01   0    0  NaN
58         Tarik Black\blackta01   0    0  NaN
59        DeJuan Blair\blairde01   0    0  NaN
64        Andrew Bogut\bogutan01   0    0  NaN
67       Carlos Boozer\boozeca01   0    0  NaN
98        Clint Capela\capelca01   0    0  NaN
106     Tyson Chandler\chandty01   0    0  NaN
122        Jack Cooley\cooleja01   0    0  NaN
136   Samuel Dalembert\dalemsa01   0    0  NaN
148           Ed Davis\davised01   0    0  NaN
187       Festus Ezeli\ezelife01   0    0  NaN
200      Joel Freeland\freeljo01   0    0  NaN
215         Taj Gibson\gibsota01   0    0  NaN
257        Chuck Hayes\hayesch01   0    0  NaN
259    Brendan Haywood\haywobr01   0    0  NaN
261       Xavier Henry\henryxa01   0    0  NaN
262        John Henson\hensojo01   0    0  NaN
272       Ryan Hollins\holliry01   0    0  NaN
288      Bernard James\jamesbe01   0    0  NaN
..                           ...  ..  ...  ...
417     Dexter Pittman\pittmde01   0    0  NaN
418     Dexter Pittman\pittmde01   0    0  NaN
419      Miles Plumlee\plumlmi01   0    0  NaN
427     Joel Przybilla\przybjo01   0    0  NaN
431   Shavlik Randolph\randosh01   0    0  NaN
443    Thomas Robinson\robinth01   0    0  NaN
450       Robert Sacre\sacrero01   0    0  NaN
458     Kevin Seraphin\serapke01   0    0  NaN
463          Henry Sims\simshe01   0    0  NaN
468       Donald Sloan\sloando01   0    0  NaN
484      Greg Stiemsma\stiemgr01   0    0  NaN
485       Julyan Stone\stoneju01   0    0  NaN
486  Amar'e Stoudemire\stoudam01   0    0  NaN
489     DaJuan Summers\summeda01   0    0  NaN
500    Hasheem Thabeet\thabeha01   0    0  NaN
503       Lance Thomas\thomala01   0    0  NaN
504     Malcolm Thomas\thomama01   0    0  NaN
505     Malcolm Thomas\thomama01   0    0  NaN
506     Malcolm Thomas\thomama01   0    0  NaN
515       Ronny Turiaf\turiaro01   0    0  NaN
518       Jeremy Tyler\tylerje01   0    0  NaN
519       Jeremy Tyler\tylerje01   0    0  NaN
520       Jeremy Tyler\tylerje01   0    0  NaN
525  Jonas Valanciunas\valanjo01   0    0  NaN
527     Jarvis Varnado\varnaja01   0    0  NaN
528     Jarvis Varnado\varnaja01   0    0  NaN
529     Jarvis Varnado\varnaja01   0    0  NaN
542      Hakim Warrick\warriha01   0    0  NaN
552         D.J. White\whitedj01   0    0  NaN
565       Chris Wright\wrighch02   0    0  NaN

[272 rows x 4 columns]

In [26]:
s15[pd.isnull(s15['FG%'])][['Player','FG','FGA','FG%']]

                         Player  FG  FGA  FG%
51   Jerrelle Benimon\benimje01   0    0  NaN
590      Ronny Turiaf\turiaro01   0    0  NaN
19       Lou Amundson\amundlo01   0    0  NaN
83      Ronnie Brewer\brewero02   0    0  NaN
121    Josh Childress\childjo01   0    0  NaN
147        Seth Curry\curryse01   0    0  NaN
247   Justin Hamilton\hamilju01   0    0  NaN
505       Chris Smith\smithch05   0    0  NaN
565    Jarvis Varnado\varnaja01   0    0  NaN
89       Matt Carroll\carroma01   0    0  NaN
253      Damion James\jamesda01   0    0  NaN
468      Donald Sloan\sloando01   0    0  NaN
520      Jeremy Tyler\tylerje01   0    0  NaN

In [27]:
s15[pd.isnull(s15['FT%'])][['Player','FT','FTA','FT%']]

                            Player  FT  FTA  FT%
51      Jerrelle Benimon\benimje01   0    0  NaN
54           Sim Bhullar\bhullsi01   0    0  NaN
91         Bruno Caboclo\cabocbr01   0    0  NaN
109  Patrick Christopher\chrispa01   0    0  NaN
115        Victor Claver\clavevi01   0    0  NaN
134           Seth Curry\curryse01   0    0  NaN
142         Luigi Datome\datomlu01   0    0  NaN
150        Andre Dawkins\dawkian01   0    0  NaN
195      Jamaal Franklin\frankja01   0    0  NaN
232       JaMychal Green\greenja01   0    0  NaN
243      Jordan Hamilton\hamiljo02   0    0  NaN
299        Grant Jerrett\jerregr01   0    0  NaN
345            Malcolm Lee\leema01   0    0  NaN
357          Kalin Lucas\lucaska01   0    0  NaN
364       Cartier Martin\martica01   0    0  NaN
386            Gal Mekel\mekelga01   0    0  NaN
392        Darius Miller\milleda01   0    0  NaN
396        Quincy Miller\millequ01   0    0  NaN
404        Eric Moreland\moreler01   0    0  NaN
415         Toure' Murry\murryto01   0    0  NaN
432          Steve Novak\novakst01   0    0  NaN
472           A.J. Price\priceaj01   0    0  NaN
550           Russ Smith\smithru01   0    0  NaN
590         Ronny Turiaf\turiaro01   0    0  NaN
611            David Wear\wearda01   0    0  NaN
19          Lou Amundson\amundlo01   0    0  NaN
39             Chris Babb\babbch01   0    0  NaN
83         Ronnie Brewer\brewero02   0    0  NaN
121       Josh Childress\childjo01   0    0  NaN
135     Robert Covington\covinro01   0    0  NaN
..                             ...  ..  ...  ...
541       Malcolm Thomas\thomama01   0    0  NaN
549       Jamaal Tinsley\tinslja01   0    0  NaN
565       Jarvis Varnado\varnaja01   0    0  NaN
575        Sasha Vujacic\vujacsa01   0    0  NaN
584         Maalik Wayns\waynsma01   0    0  NaN
588           D.J. White\whitedj01   0    0  NaN
589          Royce White\whitero03   0    0  NaN
598      Reggie Williams\willire02   0    0  NaN
3           Josh Akognon\akognjo01   0    0  NaN
14          Lou Amundson\amundlo01   0    0  NaN
71         Ronnie Brewer\brewero02   0    0  NaN
74          Aaron Brooks\brookaa01   0    0  NaN
89          Matt Carroll\carroma01   0    0  NaN
133       Justin Dentmon\dentmju01   0    0  NaN
191     Andrew Goudelock\goudean01   0    0  NaN
253         Damion James\jamesda01   0    0  NaN
274  Darius Johnson-Odom\johnsda03   0    0  NaN
283        Solomon Jones\jonesso01   0    0  NaN
329          Shelvin Mack\macksh01   0    0  NaN
358        Darko Milicic\milicda01   0    0  NaN
380         Kevin Murphy\murphke01   0    0  NaN
417       Dexter Pittman\pittmde01   0    0  NaN
463            Henry Sims\simshe01   0    0  NaN
468         Donald Sloan\sloando01   0    0  NaN
472            Ish Smith\smithis01   0    0  NaN
489       DaJuan Summers\summeda01   0    0  NaN
520         Jeremy Tyler\tylerje01   0    0  NaN
529       Jarvis Varnado\varnaja01   0    0  NaN
565         Chris Wright\wrighch02   0    0  NaN
571          Luke Zeller\zellelu01   0    0  NaN

[79 rows x 4 columns]

In [28]:
s15[["3P%",'FT%','FG%','2P%']]=s15[["3P%",'FT%','FG%','2P%']].fillna(0)

In [29]:
s15.dropna(inplace=True)

In [30]:
a15.shape

(1835, 30)

In [31]:
len(a15)-a15.count()

Rk                0
Player            0
Pos               0
Age               0
Tm                0
G                 0
MP                0
PER               1
TS%              13
3PAr             13
FTr              13
ORB%              1
DRB%              1
TRB%              1
AST%              1
STL%              1
BLK%              1
TOV%              9
USG%              1
Unnamed: 19    1835
OWS               0
DWS               0
WS                0
WS/48             1
Unnamed: 24    1835
OBPM              0
DBPM              0
BPM               0
VORP              0
Year              0
dtype: int64

In [32]:
a15=a15.drop(['Unnamed: 19','Unnamed: 24'],1)

minimum data missing after the columns are dropped

In [33]:
a15.dropna(inplace=True)

In [34]:
a15.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Year'],
      dtype='object')

In [35]:
s15.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year'],
      dtype='object')

In [36]:
result=pd.merge(a15,s15,how='inner',on=['Year','Player','Rk','Pos','Age','Tm','G','MP'])

In [37]:
result.shape

(1822, 51)

In [38]:
result.isnull().values.any()

False

In [39]:
result.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Year',
       'GS', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS'],
      dtype='object')

In [40]:
result.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,PF,24,NYK,68,1287,11.9,0.533,0.181,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams\adamsjo01,SG,20,MEM,30,248,12.8,0.489,0.291,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams\adamsst01,C,21,OKC,70,1771,14.1,0.549,0.005,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien\adrieje01,PF,28,MIN,17,215,14.2,0.494,0.000,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo\afflaar01,SG,29,TOT,78,2502,10.7,0.533,0.377,...,0.843,27,220,247,129,41,7,116,167,1035

In [41]:
result.Player.head()

0         Quincy Acy\acyqu01
1     Jordan Adams\adamsjo01
2     Steven Adams\adamsst01
3      Jeff Adrien\adrieje01
4    Arron Afflalo\afflaar01
Name: Player, dtype: object

In [42]:
#result['Player']=result.Player.str.replace(r'\\\w*',"")

In [43]:
result[['Player','ID']]=result['Player'].str.split(r'\\', expand=True)

In [44]:
salaries.isnull().values.any()

False

In [45]:
salaries.head()

            Team  Season_Start  Season_End  Rk             Player   Salary
0  Atlanta Hawks          1990        1991   1       Moses Malone  2406000
1  Atlanta Hawks          1990        1991   2  Dominique Wilkins  2065000
2  Atlanta Hawks          1990        1991   3         Jon Koncak  1550000
3  Atlanta Hawks          1990        1991   4         Doc Rivers   895000
4  Atlanta Hawks          1990        1991   5    Rumeal Robinson   800000

In [46]:
team_change={'ATL':'Atlanta Hawks', 'BOS':'Boston Celtics', 'BRK':'Brooklyn Nets',
       'CHA':'Charlotte Hornets', 'CHI':'Chicago Bulls', 'CLE':'Cleveland Caveliers',
       'DAL':'Dallas Mavericks', 'DEN':'Denver Nuggets', 'DET':'Detroit Pistons',
       'GSW':'Golden State Warriors', 'HOU':'Houston Rockets', 'IND':'Indiana Pacers',
       'LAC':'Los Angeles Clippers', 'LAL':'Los Angeles Lakers', 'MEM':'Memphis Grizzlies',
       'MIA':'Miami Heat', 'MIL':'Milwaukee Bucks', 'MIN':'Minnesota Timberwolves',
       'NOP':'New Orleans Pelicans', 'NYK':'New York Knicks', 'OKC':'Oklahoma City Thunder',
       'ORL':'Orlando Magic', 'PHI':'Philadelphia 76ers', 'PHO':'Phoenix Suns',
       'SAC':'Sacramento Kings', 'SAS':'San Antonio Spurs', 'TOR':'Toronto Raptors',
       'UTA':'Utah Jazz', 'WAS':'Washington Wizards'}

In [47]:
result=result.replace({"Tm":team_change})

In [48]:
result=result.rename(columns={"Tm":"Team"})

In [49]:
result.Team.unique()

array(['New York Knicks', 'Memphis Grizzlies', 'Oklahoma City Thunder',
       'Minnesota Timberwolves', 'TOT', 'Denver Nuggets', 'POR',
       'New Orleans Pelicans', 'Philadelphia 76ers', 'Indiana Pacers',
       'Dallas Mavericks', 'Cleveland Caveliers', 'Miami Heat',
       'Brooklyn Nets', 'San Antonio Spurs', 'Milwaukee Bucks',
       'Detroit Pistons', 'Atlanta Hawks', 'Houston Rockets',
       'Chicago Bulls', 'Golden State Warriors', 'Los Angeles Clippers',
       'Phoenix Suns', 'Boston Celtics', 'Washington Wizards',
       'Sacramento Kings', 'CHO', 'Los Angeles Lakers', 'Utah Jazz',
       'Toronto Raptors', 'Orlando Magic', 'Charlotte Hornets', 'NOH'], dtype=object)

In [50]:
salaries.Team.unique()

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'Charlotte Hornets', 'Chicago Bulls', 'Cleveland Caveliers',
       'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves',
       'New Orleans Pelicans', 'New York Knicks', 'Oklahoma City Thunder',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors',
       'Utah Jazz', 'Washington Wizards'], dtype=object)

In [51]:
salaries=salaries.rename(columns={"Season_End":"Year","Rk":"Tm_Rk"})

In [52]:
salary=salaries[(salaries.Year>=2013) & (salaries.Year<=2015)]

In [53]:
salary.Year.unique()

array([2013, 2014, 2015])

In [54]:
result.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Team', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Year',
       'GS', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'ID'],
      dtype='object')

In [55]:
m1=pd.merge(salary,result,how='left',on=['Player','Team','Year'])

In [56]:
salary.shape

(1425, 6)

In [57]:
result.shape

(1822, 52)

In [58]:
m1.shape

(1425, 55)

In [59]:
salary.columns

Index(['Team', 'Season_Start', 'Year', 'Tm_Rk', 'Player', 'Salary'], dtype='object')

In [60]:
m1.columns

Index(['Team', 'Season_Start', 'Year', 'Tm_Rk', 'Player', 'Salary', 'Rk',
       'Pos', 'Age', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%',
       'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS',
       'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'GS', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'ID'],
      dtype='object')

In [61]:
len(m1)-m1.count()

Team              0
Season_Start      0
Year              0
Tm_Rk             0
Player            0
Salary            0
Rk              215
Pos             215
Age             215
G               215
MP              215
PER             215
TS%             215
3PAr            215
FTr             215
ORB%            215
DRB%            215
TRB%            215
AST%            215
STL%            215
BLK%            215
TOV%            215
USG%            215
OWS             215
DWS             215
WS              215
WS/48           215
OBPM            215
DBPM            215
BPM             215
VORP            215
GS              215
FG              215
FGA             215
FG%             215
3P              215
3PA             215
3P%             215
2P              215
2PA             215
2P%             215
eFG%            215
FT              215
FTA             215
FT%             215
ORB             215
DRB             215
TRB             215
AST             215
STL             215
BLK             215
TOV             215
PF              215
PTS             215
ID              215
dtype: int64

dropping all the NAs because salary15 df have some player salaries missing

In [62]:
m1.dropna(inplace=True)

In [63]:
from sklearn.cross_validation import cross_val_score

/home/justin/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [64]:
m1.columns

Index(['Team', 'Season_Start', 'Year', 'Tm_Rk', 'Player', 'Salary', 'Rk',
       'Pos', 'Age', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%',
       'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS',
       'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'GS', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'ID'],
      dtype='object')

In [65]:
feature_cols=['GS','MP','FG','3P','TRB','STL','BLK','PTS','WS','BPM','Age','PER','ORB%','DRB%','AST%']
X=m1[feature_cols]
y=m1.Salary
from sklearn import linear_model
lm=linear_model.LinearRegression()
scores=cross_val_score(lm,X,y,cv=10,scoring="r2")
print (scores.mean())

0.402267591331

In [68]:
from sklearn.cross_validation import train_test_split

In [66]:
reg=linear_model.LinearRegression()

In [73]:
x_train, x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [74]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [75]:
reg.coef_

array([  4.66799264e+04,  -1.28941485e+03,  -1.25563475e+04,
        -1.71687967e+04,  -1.48504079e+02,  -2.37746950e+04,
         3.74180620e+03,   1.19674127e+04,  -4.27463230e+04,
        -4.65268573e+03,   3.21839203e+05,   5.00199406e+04,
        -2.40459386e+04,   6.65225069e+04,   6.23694647e+04])

In [77]:
a=reg.predict(x_test)

In [78]:
np.mean((a-y_test)**2)

12651100461618.777

In [79]:
scores=cross_val_score(reg,X,y,cv=10,scoring="r2")

In [81]:
print (scores.mean())

0.402267591331

random forest, GBM. 
list performance metrics. show coefficients and