In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
from matplotlib import pyplot as plt
import os
%matplotlib inline

In [2]:
os.getcwd()

'/home/justin/Desktop/nba capstone/nba_capstone'

In [3]:
salaries=pd.read_csv('NBASalaries1990to2016.csv')

In [4]:
os.chdir('/home/justin/Desktop/nba capstone/nba_data')

In [5]:
s15=pd.read_csv('2015stats.csv')
s15.shape

(651, 30)

In [6]:
a15=pd.read_csv('advanced2015.csv')

In [7]:
len(s15)-s15.count()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        2
3P         0
3PA        0
3P%       81
2P         0
2PA        0
2P%        4
eFG%       2
FT         0
FTA        0
FT%       25
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

In [8]:
s15[pd.isnull(s15['3P%'])][['Player','3P','3PA','3P%']]

                           Player  3P  3PA  3P%
3           Jeff Adrien\adrieje01   0    0  NaN
7         Alexis Ajinca\ajincal01   0    0  NaN
9          Cole Aldrich\aldrico01   0    0  NaN
11          Lavoy Allen\allenla01   0    0  NaN
15         Lou Amundson\amundlo01   0    0  NaN
23         Joel Anthony\anthojo01   0    0  NaN
27             Omer Asik\asikom01   0    0  NaN
31           Jeff Ayres\pendeje02   0    0  NaN
33     Cameron Bairstow\bairsca01   0    0  NaN
51     Jerrelle Benimon\benimje01   0    0  NaN
54          Sim Bhullar\bhullsi01   0    0  NaN
55      Bismack Biyombo\biyombi01   0    0  NaN
58          Tarik Black\blackta01   0    0  NaN
59         DeJuan Blair\blairde01   0    0  NaN
64         Andrew Bogut\bogutan01   0    0  NaN
67        Carlos Boozer\boozeca01   0    0  NaN
98         Clint Capela\capelca01   0    0  NaN
106      Tyson Chandler\chandty01   0    0  NaN
122         Jack Cooley\cooleja01   0    0  NaN
136    Samuel Dalembert\dalemsa01   0    0  NaN
148            Ed Davis\davised01   0    0  NaN
187        Festus Ezeli\ezelife01   0    0  NaN
200       Joel Freeland\freeljo01   0    0  NaN
215          Taj Gibson\gibsota01   0    0  NaN
257         Chuck Hayes\hayesch01   0    0  NaN
259     Brendan Haywood\haywobr01   0    0  NaN
261        Xavier Henry\henryxa01   0    0  NaN
262         John Henson\hensojo01   0    0  NaN
272        Ryan Hollins\holliry01   0    0  NaN
288       Bernard James\jamesbe01   0    0  NaN
..                            ...  ..  ...  ...
414        Toure' Murry\murryto01   0    0  NaN
415        Toure' Murry\murryto01   0    0  NaN
416        Toure' Murry\murryto01   0    0  NaN
428         Nerlens Noel\noelne01   0    0  NaN
429      Lucas Nogueira\noguelu01   0    0  NaN
435     Johnny O'Bryant\obryajo01   0    0  NaN
439       Arinze Onuaku\onuakar01   0    0  NaN
452      Nikola Pekovic\pekovni01   0    0  NaN
455    Kendrick Perkins\perkike01   0    0  NaN
458       Miles Plumlee\plumlmi01   0    0  NaN
459       Miles Plumlee\plumlmi01   0    0  NaN
460       Miles Plumlee\plumlmi01   0    0  NaN
466       Dwight Powell\poweldw01   0    0  NaN
481  Miroslav Raduljica\radulmi01   0    0  NaN
482       Julius Randle\randlju01   0    0  NaN
503     Thomas Robinson\robinth01   0    0  NaN
516       Larry Sanders\sandela01   0    0  NaN
538          Greg Smith\smithgr02   0    0  NaN
554      Tiago Splitter\splitti01   0    0  NaN
557       Greg Stiemsma\stiemgr01   0    0  NaN
559      Jarnell Stokes\stokeja01   0    0  NaN
578        Tyrus Thomas\thomaty01   0    0  NaN
582    Tristan Thompson\thomptr01   0    0  NaN
590        Ronny Turiaf\turiaro01   0    0  NaN
593            Ekpe Udoh\udohek01   0    0  NaN
616    Hassan Whiteside\whiteha01   0    0  NaN
634         Jeff Withey\witheje01   0    0  NaN
639      Brandan Wright\wrighbr03   0    0  NaN
640      Brandan Wright\wrighbr03   0    0  NaN
650        Tyler Zeller\zellety01   0    0  NaN

[81 rows x 4 columns]

In [9]:
s15[pd.isnull(s15['FG%'])][['Player','FG','FGA','FG%']]

                         Player  FG  FGA  FG%
51   Jerrelle Benimon\benimje01   0    0  NaN
590      Ronny Turiaf\turiaro01   0    0  NaN

In [10]:
s15[pd.isnull(s15['FT%'])][['Player','FT','FTA','FT%']]

                            Player  FT  FTA  FT%
51      Jerrelle Benimon\benimje01   0    0  NaN
54           Sim Bhullar\bhullsi01   0    0  NaN
91         Bruno Caboclo\cabocbr01   0    0  NaN
109  Patrick Christopher\chrispa01   0    0  NaN
115        Victor Claver\clavevi01   0    0  NaN
134           Seth Curry\curryse01   0    0  NaN
142         Luigi Datome\datomlu01   0    0  NaN
150        Andre Dawkins\dawkian01   0    0  NaN
195      Jamaal Franklin\frankja01   0    0  NaN
232       JaMychal Green\greenja01   0    0  NaN
243      Jordan Hamilton\hamiljo02   0    0  NaN
299        Grant Jerrett\jerregr01   0    0  NaN
345            Malcolm Lee\leema01   0    0  NaN
357          Kalin Lucas\lucaska01   0    0  NaN
364       Cartier Martin\martica01   0    0  NaN
386            Gal Mekel\mekelga01   0    0  NaN
392        Darius Miller\milleda01   0    0  NaN
396        Quincy Miller\millequ01   0    0  NaN
404        Eric Moreland\moreler01   0    0  NaN
415         Toure' Murry\murryto01   0    0  NaN
432          Steve Novak\novakst01   0    0  NaN
472           A.J. Price\priceaj01   0    0  NaN
550           Russ Smith\smithru01   0    0  NaN
590         Ronny Turiaf\turiaro01   0    0  NaN
611            David Wear\wearda01   0    0  NaN

In [11]:
s15[["3P%",'FT%','FG%','2P%']]=s15[["3P%",'FT%','FG%','2P%']].fillna(0)

In [12]:
s15.dropna(inplace=True)

In [13]:
a15.shape

(651, 29)

In [14]:
len(a15)-a15.count()

Rk               0
Player           0
Pos              0
Age              0
Tm               0
G                0
MP               0
PER              0
TS%              2
3PAr             2
FTr              2
ORB%             0
DRB%             0
TRB%             0
AST%             0
STL%             0
BLK%             0
TOV%             1
USG%             0
Unnamed: 19    651
OWS              0
DWS              0
WS               0
WS/48            0
Unnamed: 24    651
OBPM             0
DBPM             0
BPM              0
VORP             0
dtype: int64

In [15]:
a15=a15.drop(['Unnamed: 19','Unnamed: 24'],1)

In [16]:
a15.dropna(inplace=True)

In [17]:
a15.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [18]:
s15.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [19]:
result=pd.merge(a15,s15,how='inner',on=['Player','Rk','Pos','Age','Tm','G','MP'])

In [20]:
result.shape

(649, 50)

In [21]:
result.isnull().values.any()

False

In [22]:
result.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'GS', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS'],
      dtype='object')

In [23]:
result.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,PF,24,NYK,68,1287,11.9,0.533,0.181,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams\adamsjo01,SG,20,MEM,30,248,12.8,0.489,0.291,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams\adamsst01,C,21,OKC,70,1771,14.1,0.549,0.005,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien\adrieje01,PF,28,MIN,17,215,14.2,0.494,0.000,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo\afflaar01,SG,29,TOT,78,2502,10.7,0.533,0.377,...,0.843,27,220,247,129,41,7,116,167,1035

In [24]:
result.Player.head()

0         Quincy Acy\acyqu01
1     Jordan Adams\adamsjo01
2     Steven Adams\adamsst01
3      Jeff Adrien\adrieje01
4    Arron Afflalo\afflaar01
Name: Player, dtype: object

In [25]:
result['Player']=result.Player.str.replace(r'\\\w*',"")

split the string

In [26]:
result['Year']=2015

In [27]:
s15[['Player','ID']]=s15['Player'].str.split(r'\\', expand=True)

In [28]:
#s15['Year']=s15.Year.astype(int)

In [29]:
salaries.isnull().values.any()

False

In [30]:
salaries.head()

            Team  Season_Start  Season_End  Rk             Player   Salary
0  Atlanta Hawks          1990        1991   1       Moses Malone  2406000
1  Atlanta Hawks          1990        1991   2  Dominique Wilkins  2065000
2  Atlanta Hawks          1990        1991   3         Jon Koncak  1550000
3  Atlanta Hawks          1990        1991   4         Doc Rivers   895000
4  Atlanta Hawks          1990        1991   5    Rumeal Robinson   800000

In [31]:
team_change={'ATL':'Atlanta Hawks', 'BOS':'Boston Celtics', 'BRK':'Brooklyn Nets',
       'CHA':'Charlotte Hornets', 'CHI':'Chicago Bulls', 'CLE':'Cleveland Caveliers',
       'DAL':'Dallas Mavericks', 'DEN':'Denver Nuggets', 'DET':'Detroit Pistons',
       'GSW':'Golden State Warriors', 'HOU':'Houston Rockets', 'IND':'Indiana Pacers',
       'LAC':'Los Angeles Clippers', 'LAL':'Los Angeles Lakers', 'MEM':'Memphis Grizzlies',
       'MIA':'Miami Heat', 'MIL':'Milwaukee Bucks', 'MIN':'Minnesota Timberwolves',
       'NOP':'New Orleans Pelicans', 'NYK':'New York Knicks', 'OKC':'Oklahoma City Thunder',
       'ORL':'Orlando Magic', 'PHI':'Philadelphia 76ers', 'PHO':'Phoenix Suns',
       'SAC':'Sacramento Kings', 'SAS':'San Antonio Spurs', 'TOR':'Toronto Raptors',
       'UTA':'Utah Jazz', 'WAS':'Washington Wizards'}

In [32]:
result=result.replace({"Tm":team_change})

In [33]:
result=result.rename(columns={"Tm":"Team"})

In [34]:
result.Team.unique()

array(['New York Knicks', 'Memphis Grizzlies', 'Oklahoma City Thunder',
       'Minnesota Timberwolves', 'TOT', 'Denver Nuggets', 'POR',
       'New Orleans Pelicans', 'Philadelphia 76ers', 'Indiana Pacers',
       'Dallas Mavericks', 'Cleveland Caveliers', 'Miami Heat',
       'Brooklyn Nets', 'San Antonio Spurs', 'Milwaukee Bucks',
       'Detroit Pistons', 'Atlanta Hawks', 'Houston Rockets',
       'Chicago Bulls', 'Golden State Warriors', 'Los Angeles Clippers',
       'Phoenix Suns', 'Boston Celtics', 'Washington Wizards',
       'Sacramento Kings', 'CHO', 'Los Angeles Lakers', 'Utah Jazz',
       'Toronto Raptors', 'Orlando Magic'], dtype=object)

In [35]:
salaries.Team.unique()

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'Charlotte Hornets', 'Chicago Bulls', 'Cleveland Caveliers',
       'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves',
       'New Orleans Pelicans', 'New York Knicks', 'Oklahoma City Thunder',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors',
       'Utah Jazz', 'Washington Wizards'], dtype=object)

In [36]:
salaries=salaries.rename(columns={"Season_End":"Year"})

In [37]:
salary15=salaries[salaries.Year==2015]

In [38]:
m1=pd.merge(salary15,result,how='left',on=['Player','Team','Year'])

In [39]:
salary15.shape

(545, 6)

In [40]:
result.shape

(649, 51)

In [41]:
len(m1)-m1.count()

Team              0
Season_Start      0
Year              0
Rk_x              0
Player            0
Salary            0
Rk_y            100
Pos             100
Age             100
G               100
MP              100
PER             100
TS%             100
3PAr            100
FTr             100
ORB%            100
DRB%            100
TRB%            100
AST%            100
STL%            100
BLK%            100
TOV%            100
USG%            100
OWS             100
DWS             100
WS              100
WS/48           100
OBPM            100
DBPM            100
BPM             100
VORP            100
GS              100
FG              100
FGA             100
FG%             100
3P              100
3PA             100
3P%             100
2P              100
2PA             100
2P%             100
eFG%            100
FT              100
FTA             100
FT%             100
ORB             100
DRB             100
TRB             100
AST             100
STL             100
BLK             100
TOV             100
PF              100
PTS             100
dtype: int64

In [42]:
m1.dropna(inplace=True)

In [43]:
from sklearn.cross_validation import cross_val_score

/home/justin/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [44]:
m1.columns

Index(['Team', 'Season_Start', 'Year', 'Rk_x', 'Player', 'Salary', 'Rk_y',
       'Pos', 'Age', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%',
       'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS',
       'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'GS', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [45]:
feature_cols=['GS','MP','FG','3P','TRB','STL','BLK','PTS','WS','BPM','Age','PER','ORB%','DRB%','AST%']
X=m1[feature_cols]
y=m1.Salary
from sklearn import linear_model
lm=linear_model.LinearRegression()
scores=cross_val_score(lm,X,y,cv=10,scoring="r2")
print (scores.mean())

0.32669323931